/* Navbar css code */
.navbar{
    display:flex;
    align-items:center;
    justify-content:center;
    position: relative;;
    top:0;
    cursor:pointer;
}
.navlist{
    width:67%;
    display:flex;
    align-items:center;
}
.navlist li{
    list-style:none;
    padding:8px 35px;
}
.navlist li a{
    padding:2px 2px;
    font-size: 23px;
    text-decoration:none;
    color:rgb(51, 50, 50);
    font-family: 'Commissioner', sans-serif;
}
.navlist li a:hover{
    text-decoration:none;
    color:rgb(119, 116, 116);
}
#background{
    background:rgba(120, 209, 93, 0.425) url(white.jpg);
    background-size:cover;
    /* background-blend-mode:darken; */
    
    }
    .head{
        font-family: 'Secular One', sans-serif;
        color: rgb(32, 31, 31);
        font-size: 35px;
        position: absolute;
        top: -12px;
        left: 25px;
        padding:2px;
    }
    .buscar-caja {
        /* width:50%; */
        transform: translate(-10%,-50%);
        border-radius: 40px;
        background: #141414;
        position: absolute;
        top:50%;
        right:4px; 
        /* height: 40px;
        padding: 10px; */
    }
    
    .buscar-caja:hover>.buscar-txt {
        width:170px;
        padding: 0px 6px;
    }
    
    .buscar-caja:hover>.buscar-btn {
        background: rgb(255, 246, 246);
        color: rgb(14, 13, 13);
    }
    
    .buscar-btn {
        color: #e84118;
        float: right;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #a1636329;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.4s;
        color: white;
        cursor: pointer;
    }
    
    .buscar-btn>i {
        font-size: 30px;
    }
    
    .buscar-txt {
        border: none;
        background: none;
        outline: none;
        float: left;
        padding: 0;
        color: white;
        font-size: 16px;
        transition: 0.4s;
        line-height: 40px;
        width: 0px;
        font-weight: bold;
	}
	/* @import url(https://fonts.googleapis.com/css?? family=Poppins:wght@300;400;500;600;700@display=swap); */

img{width: 89%;
	margin-left: 28px;
}

*{  
    box-sizing: border-box;
	font-family: 'poppins','sans-serif';
	/* line-height: 1.5; */
}
.main-container {
	width: 90vw;
	margin: 0 auto;
	/* padding: 40px 0; */
}
.main-container > h2{
	text-align: center;
	padding-top:10px;
	font-size: 32px;
}
.main-container > p{
	/* font-weight: 300; */
	/* padding: 10px 0; */
	font-size:40px;
	opacity: 0.7;
	text-align: center;
}
.Categories-head{
	margin: 30px 0;
}
.Categories-head ul{
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}
.Categories-title{
	flex: 0 0 calc(16.6667% - 10px);
	display: flex;
	justify-content: center;
	background: #a8a8a8;
	padding: 12px;
	color: #fff;
	margin: 5px;
	cursor: pointer;
	transition: all 0.4s ease;
}
.Categories-title:hover{
	opacity: 0.7;
}
.Categories-title li{
	padding: 0 10px;
}
.Categories-title span{
	color: #222;
}
.posts-main-container{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 40px; 
}
.posts-main-container > div{
	box-shadow: 0px 8px 22px -12px rgba(0,0,0,0,64);
}
.post-img{
	position: relative;
}
.Categories-name{
	position: absolute;
	top:20px;
	left: 20px;
	text-transform: uppercase;
	font-size: 13px;
	color: #fff;
	padding: 4px 10px;
	border-radius: 2px;
}
.Business.Categories-name{
	background: #00a7ea;
}
.Culture.Categories-name{
	background: #f03250;
}
.Politics.Catgories-name{
    background: #f0544f;
}
.Finance.Categories-name{
	background: #2c2a4a;
}
.Sports.Categories-name{
	background: #a1e44a;
}


.post-content{
	padding: 25px;
}
.post-content-top{
	background:#80ced7;
	color: #fff;
	opacity: 0.8;
	padding: 5px 0 5px 15px;
}
.post-content-top span{
	padding-right: 20px;
}
.post-content-top fa-comment{
    padding-right: 20px;
}
.post-content h2{
    font-size: 22px;
    padding: 12px 0;
    font-weight: 400;
}
.post-content p{
	opacity: 0.7;
	font-size: 15px;
	line-height: 1.8;
}
.readbtn{
    padding-left:29px;
}
.read-button {
	border-radius: none;
	padding: 8px 15px;
	display: inline-block;
	margin: 5px auto;
	font-family: 'poppins','sans-serif';
	font-size: 15px;
	cursor: pointer;
	border: 1px solid #292929;
	background: transparent;
	margin-bottom: 40px;
}
.read-button:hover{
    border: 1px solid #292929;
    background-color: rgb(250, 240, 240);;
}
@media(max-width: 1170px){
   .post-main-container{
	  grid-template-columns: repeat(2,1fr);
}
@media(max-width: 768px){
   .post-main-container{
	  grid-template-columns: 1fr;
    }
}
.active{
	background: #f0544f;
}